/* Navbar */
.navbar {
    border: 0;
    margin-bottom: 0;
    background-color: bisque;
  }
  
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }
  
  .navbar-toggle {
    border: 1px solid #333;
  }
  
  .navbar-toggle .icon-bar {
    background-color: #333;
  }
  
  .navbar-collapse {
    border-top: 0;
    box-shadow: none;
  }
  
  /* Menu Section */
  .menu-section {
    background-color: #f2f2f2;
    padding: 50px 0;
    height: 1000px;
    margin-top: -25px;
  }
  
  .menu-section h2 {
    margin-bottom: 30px;
  }
  
  .menu-item {
    margin-bottom: 50px;
  }

  .menu-main{
    text-align: center;
  }
  

  .menu-item h3 {
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .navbar-collapse {
      background-color: #333;
    }
  
    .navbar-nav > li > a {
      color: #894b4b;
      text-align: center;
      color: azure;
    }
  }